.grid {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // position: relative;
  // transform: translateY(-5%);

  .board {

    height: 63vh;
    width: 63vh;

    .grid-row {
      height: 11.111%;
      width: 100%;
      display: flex;
      position: relative;

      bo svg {
        width: 5vh;
        height: 5vh;
        position: absolute;
        top: -3.5vh;
        right: -3.5vh;
        fill: $color-number;

      }

      .col-1-of-9 {
        width: 11.1%;
        height: 100%;
        font-size: 2rem;
        padding: 0.5rem;
        text-align: center;
        font-family: $numbers;
        font-weight: 700;
        color: $color-number;
        display: flex;
        justify-content: center;
        align-items: center;
        // background-color: $color-board-bg;

        &.highlight-peers {
          background-color: $highlight-peers !important;
        }

        &.highlight-clicked {
          background-color: $highlight-clicked !important;
        }

        &.highlight-same-squares {
          background-color: $highlight-same-squares !important;
        }

        &.highlight-same {
          background-color: $highlight-same !important;
        }

        &.unsolved {
          color: $color-input-number;
          font-family: $numbers;
          font-weight: 700;
          cursor: pointer;

          &.wrong-input {
            color: $color-wrong-input;
          }
        }
      }

      .board-sharp {
        background-color: $color-board-sharp;

      }

    }
  }

  .dropdown-menu {

    // background-color: $color-modal-background;
    background-color: rgba(250, 229, 184, 0.479);

  }

}