#levelModal .modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateY(-50%);
  background-color: $color-modal-background;
  color: $color-modal-text;

  .modal-body {

    width: 100%;
    p {
      text-align: center;

    }

    .btn-level-group {
      width: 80%;
      display: flex;
      justify-content: space-around;

      .btn-lg {
        font-size: 1.7rem;
        width:24%;
        align-self: center;
        background-color: $color-modal-buttons;
        color: $color-modal-btn-text;
         border-color:  none;
    }

  }

}

}

.bootbox.modal .modal-dialog {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);

  .modal-content{
    background-color: $color-modal-background;
    color: $color-modal-text;
    font-family: 'Pacifico', cursive;
      letter-spacing: 1.3px;
      color: $color-modal-text;
  }


}