.numpad {
  width: 70vh;
  height: 14vh;


  .list-group-item {
    position: relative;
    width: 14vh;
    text-align: center;
    background-color: $color-light-1;
    font-family: $numbers;
    font-size: 2rem;


   span.badge {
      position: absolute;
      top: 1px;
      right: 1px;
      background-color: $color-board-sharp;
    }
  }


}