.toast {
  /* position: absolute;
  top: 1px;
  left: 1px; */
  background-color: rgba(250, 229, 184, 0.479);
  font-family: 'Pacifico', cursive;
    // text-transform: uppercase;
    font-style: italic;
  font-size: 1.3rem;
    font-weight: 700;
    letter-spacing: 1.2px;
    color: $color-modal-text;

}