/* tablets with large height */
@media only screen and (max-width: 800px) and (min-height: 1250px) {

  .container .grid {
    height: 54vh;
    width: 54vh;

    &-row .col-1-of-9 {

      font-size: 1.7rem;
    }
  }

  .numpad {

    .numpad-item {
      width: 9vh;
      font-size: 1.6rem;
    }
  }
}

/* tablets with large height */
@media only screen and (max-width: 768px) {
  .container .grid {
    height: 54vh;
    width: 54vh;

    &-row .col-1-of-9 {

      font-size: 1.7rem;
    }
  }

  .numpad {

    &-item {
      width: 11vh;
      font-size: 1.7rem;
    }
  }

  #levelModal .modal-content {
    transform: translateY(-60%);
    font-size: 1.7rem;

    .modal-body .btn-level-group {
      width: 100%;
    }
  }

  .settings-menu a {
    letter-spacing: 1.2px;
    font-size: 1.2rem;

  }

}

/* Small phones to small tablets: */
@media only screen and (max-width: 576px) {

  .container .grid {
    height: 45vh;
    width: 45vh;

    .grid-row .col-1-of-9 {
      font-size: 1.6rem;

      .edit {
        max-width: 100%; // padding: 1.5px;
        justify-self: flex-start;

        &.three {
          font-size: 0.9rem;
        }

        &.six {
          font-size: 0.8rem;
        }

        &.nine {
          font-size: 0.7rem;
        }
      }
    }
  }

  .numpad {

    // width: 50vh;
    height: 9vh;

    .numpad-item {
      width: 9vh;
      font-size: 1.6rem;


    }
  }

  #levelModal .modal-content {
    transform: translateY(-25%);
    font-size: 1.6rem;

    .modal-body .btn-level-group {
      width: 100%;

      .btn-lg {
        font-size: 1.4rem;
      }
    }
  }

  .settings-menu a {
    letter-spacing: 1.1px;
    font-size: 1.1rem;
  }

  .settings-item {
    padding: .25rem 0.8rem;
  }

  .toast {
    font-size: 1.2rem;
    letter-spacing: 0.75px;
  }
}