.body {
  font-family: 'Arvo', serif;
}

.modal-content {
  font-size: 2rem;

  .modal-header {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    color: $color-modal-text;
  }
  .modal-body{
    font-family: 'Pacifico', cursive;
    // text-transform: uppercase;
    font-style: italic;
    font-weight: 700;
    letter-spacing: 1.5px;
    color: $color-modal-text;
  }

}

.dropdown-menu a{
  font-family: 'Pacifico', cursive;
  // text-transform: uppercase;
  font-style: italic;
  font-weight: 700;
  letter-spacing: 1.2px;
font-size: 1.3rem;
color: $color-modal-text;
}

