
.body {

  font-family: 'Arvo', serif;
}

.modal-content {
  font-size: 2rem;

  .modal-header {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
  }
  .modal-body{
    font-family: 'Pacifico', cursive;
    // text-transform: uppercase;
    font-style: italic;
    font-weight: 700;

    letter-spacing: 1.5px;

  }

}


