.body {
  font-family: "Arvo", serif;
}

.grid-col {
  font-family: $numbers;
  font-weight: 700;
  color: $color-number;
  font-size: 2rem;

  &.unsolved {
    color: $color-input-number;

    &.wrong-input {
      color: $color-wrong-input;
    }
  }
}

#levelModal .modal-content {
  font-size: 2rem;

  .modal-header h2 {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 700;
    color: $color-modal-text;
  }

  .modal-body p {
    font-family: "Josefin Sans", sans-serif;
    color: $color-modal-text;
  }
  @include btn-typography;
}

.settings-item {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  letter-spacing: 0.35px;
  font-size: 1.3rem;
  color: $color-modal-text;
}

.alert {
  font-family: "Josefin Sans", sans-serif;
  color: $color-modal-text;

  @include btn-typography;
}

.bootbox.modal .modal-dialog .modal-content {
  background-color: $color-modal-background;
  color: $color-modal-text;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  color: $color-modal-text;

  .modal-footer {
    font-family: "Josefin Sans", sans-serif;
  }
}

.toast {
  font-family: "Pacifico", cursive;
  font-style: italic;
  font-size: 1.7rem;
  letter-spacing: 2px;
  color: $color-modal-text;
}

.footer {
  font-size: 1em;
  font-family: "Permanent Marker", cursive;

  &-icon {
    color: $footer-body;
  }

  &-repo-link {
    color: lighten($footer-body, 20%);
    text-align: center;
    text-decoration: none;

    &:hover {
      color: $footer-body;
      text-decoration: none;
    }

    &:active {
      text-decoration: none;
      color: darken($footer-body, 20%);
    }
  }
}
