
//* Main Back ground colors
$color-light-1: #fffce5;

//*Modal Colors
$color-modal-background : #fae5b8d3;
$color-modal-text: #4c3b78cc;

$color-modal-buttons: rgba(212, 185, 126, 0.89);
$color-modal-btn-text : #736697;

//* Board Colors
$color-board-sharp: #EFF3EA;
$color-number: rgba(212, 185, 126, 0.904);
 $color-input-number: #4c3b78cc;

$color-wrong-input: #e15f41;

//*Board highlights
// $highlight-clicked: #e3c5d0;
$highlight-clicked: rgba(220, 210, 151, 0.904);



$highlight-same: #ff7a73;
// $highlight-peers: #ecf2c3;
$highlight-peers: #fae5b8e5;
$highlight-same-squares: #fff6b2;

//*Alert colors
$alert-background: #e2f0bc;
$alert-btn-bg: #BACD86;
$alert-btn-text: #F9FCF3;

//*Fonts
$numbers : 'Arvo', serif;
$font-modal: 'Playfair Display', serif;