
//* Main Back ground colors
$color-light: #FFF8e5;
$color-light-1: #fffce5;

//*Modal Colors
$color-modal-btn-text : #eff3ea;
$color-modal-background : #DFEAD2;
$color-modal-buttons: #B8C9A1;

//* Board Colors
$color-board-sharp: #EFF3EA;
$color-number: #baa07e;
 $color-input-number: #5e5f82;

$color-wrong-input: #e64b42;

//*Board highlights
$highlight-clicked: #e3c5d0;

// $highlight-same: #f4554d;
$highlight-same: #ff7a73;
$highlight-peers: #ecf2c3;
$highlight-same-squares: #fff6b2;

//*Fonts
$numbers : 'Arvo', serif;
$font-modal: 'Playfair Display', serif;